{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">
    <style>
        @font-face {
            font-family: wcsfont;
            src: url('{{ asset('Alwyn Regular.ttf') }}');
        }
        @font-face {
            font-family: wcsfont;
            src: url('{{ asset('Alwyn Bold.ttf') }}');
            font-weight: bold;
        }
        body{
            font-family: "Open Sans", sans-serif;
        }
    </style>
    <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">

{% endblock %}
{% block body %}
    <div class="container-fluid smallpaddingtop">
    <div id="menu-overlay"></div>
    <div id="menu-toggle" class="closed" data-title="Menu">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
    </div>
    <div id="content container-fluid">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 blue">
                        <img src="{{ asset(( app.user.avatarurl)) }}" class="avatar-160x">
                        <span class="username">
                       {{ app.user.username }}
                        </span>
                    </div>
                </div>

                <nav id="tabs">
                    <ul>
                        <li class="active" data-target="Détails">Détails</li>
                        <li data-target="Historique">Historique</li>
                        <li data-target="Autre">Autre</li>
                    </ul>
                </nav>
                <div class="tab-target targeted date" id="Détails">
                    Dernière connexion le {{ app.user.dateConnexion|date(' d/m/Y') }}
                </div>
            </div>
        <!---- DETAILS ----->
        <div class="tab-target targeted" id="Détails">
            <div class="col-xs-12 col-md-9 container-fluid">
                <form method="post" action="{{ path('dashboardformpage') }}" enctype="multipart/form-data">
                <div class="inline row">
                    <div class="col-xs-12 col-md-5">
                        <label class="control-label">Avatar</label>
                    </div>
                    <div class="col-xs-12 col-md-5">

                        <div class="file">
                            <div class="input-group image-preview">
                                <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                <span class="input-group-btn">
                                    <!-- image-preview-clear button -->
                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>
                                                    <!-- image-preview-input -->
                                    <div class="btn btn-default image-preview-input">
                                        <label for="upload" id="browsebtn">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                        <span class="image-preview-input-title">Browse</span>
                                        <input type="file" accept="image/png, image/jpeg, image/gif" name="avatar" id="upload" style="display: none;"/> <!-- rename it -->
                                        </label>
                                    </div>
                                </span>
                            </div><!-- /input-group image-preview [TO HERE]-->
                        </div>
                    </div>

                </div>
                <br/>
                <div class="inline row">
                    <div class="col-xs-12 col-md-5">
                        <label class="control-label">E-mail</label>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <input class ="file dashboard-things" type="email" name="email" placeholder=" {{ app.user.email }}" value="{{ app.user.email }}" style="margin-top: 0px; height: 35px;">
                    </div>

                </div>
                <br/>
                <div class="inline row">
                    <div class="col-xs-12 col-md-5">
                        <label class="control-label">Mot de Passe</label>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <input class ="file" type="password" name="password" placeholder="******" style="margin-top: 0px; height: 35px;">
                    </div>
                </div>
                <br/>
                <div class="inline row">
                    <div class="col-xs-12 col-md-5">
                        <label class="control-label">Social</label>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <ul class="soclist">
                            <li class="soc">
                                <div>
                                    <i class="fa fa-github fa" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <input class="file dashboard-things socinput" type="text" name="GitHub" placeholder="@GitHub">
                                </div>
                            </li>
                            <li class="soc">
                                <div>
                                    <i class="fa fa-twitter-square fa" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <input class="file dashboard-things socinput" type="text" name="Twitter" placeholder="@Twitter">
                                </div>
                            </li>
                            <li class="soc">
                                <div>
                                    <i class="fa fa-facebook-official fa" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <input class="file dashboard-things socinput" type="text" name="Facebook" placeholder="@Facebook">
                                </div>
                            </li>
                            <li class="soc">
                                <div>
                                    <i class="fa fa-linkedin-square fa" aria-hidden="true"></i>
                                </div>
                                <div>
                                    <input class="file dashboard-things socinput" type="text" name="LinkedLn" placeholder="@LinkedLn">
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <br/>
                <div class="inline row">
                    <div class="col-xs-12 col-md-5">
                    <label class="control-label">Centre d'Interêts</label>
                    </div>
                    <div class="col-xs-12 col-md-5">
                    <input type="text" class="file" data-role="tagsinput" value="{{ app.user.interet }}">
                    </div>
                </div>
                    <input type="submit" name="submit" value="Envoyer" />
                </form>
            </div>
            <div class="col-xs-12 col-md-3 container">

            </div>


        </div>
        <!---- HISTORIQUE ----->

        <div class="tab-target" id="Historique">
            <div class="container">
                <div class="row">
                    <div class="boiteDvote">
                        <h1>Journal des Actions</h1>
                        <p></p>
                    </div>
                </div>

                <div class="row">
                    <div class="boiteD col-lg-5">
                        <h1>Questions posées</h1>
                        <p> Comment faire un Dashboard ?</p>
                    </div>

                    <div class="boiteD col-lg-5 col-lg-offset-2">
                        <h1>Statistiques de la question</h1>
                        <p>Tag Question :</p>
                        <p>Nombre de Like :</p>
                        <p>Nombre de Réponses :</p>
                        <p>Meilleure réponse :</p>
                    </div>

                </div>

            </div>
        </div>

        <!---- AUTRE ----->
        <div class="tab-target" id="Autre">
            <div class="container" id="features">
                <div class="row">
                    <div class="col-md-4 feature">
                        <i class="glyphicon glyphicon-picture"></i>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="title_border"></div>
                        <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
                    </div>
                    <div class="col-md-4 feature">
                        <i class="glyphicon glyphicon-globe"></i>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="title_border"></div>
                        <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
                    </div>
                    <div class="col-md-4 feature">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="title_border"></div>
                        <p>Praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos</p>
                    </div>
                </div>
            </div>
        </div>

            </div>
    </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('#menu-toggle,#menu-overlay').click(function(){
            $('body').toggleClass('open-menu');
        });

        $('#main-nav li a').click(function(){
            $('#main-nav li').removeClass('active');
            $(this).parent().addClass('active')
        });

        $('#tabs li').click(function(){
            var clickTarget = $(this).attr('data-target');
            $('.tab-target').removeClass('targeted');
            $('#'+clickTarget).addClass("targeted");
            $('#tabs li').removeClass('active');
            $(this).addClass('active')
        });

        $('#admin-search input').on('focus',function(){
            $('#header_logo').addClass('hidden');
        });
        $('#admin-search input').on('blur',function(){
            $('#header_logo').removeClass('hidden');
        });
    </script>
    <script>
        $(document).on('click', '#close-preview', function(){
            $('.image-preview').popover('hide');
            // Hover befor close the preview
            $('.image-preview').hover(
                function () {
                    $('.image-preview').popover('show');
                },
                function () {
                    $('.image-preview').popover('hide');
                }
            );
        });

        $(function() {
            // Create the close button
            var closebtn = $('<button/>', {
                type:"button",
                text: 'x',
                id: 'close-preview',
                style: 'font-size: initial;',
            });
            closebtn.attr("class","close pull-right");
            // Set the popover default content
            $('.image-preview').popover({
                trigger:'manual',
                html:true,
                title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
                content: "There's no image",
                placement:'bottom'
            });
            // Clear event
            $('.image-preview-clear').click(function(){
                $('.image-preview').attr("data-content","").popover('hide');
                $('.image-preview-filename').val("");
                $('.image-preview-clear').hide();
                $('.image-preview-input input:file').val("");
                $(".image-preview-input-title").text("Browse");
            });
            // Create the preview image
            $(".image-preview-input input:file").change(function (){
                var img = $('<img/>', {
                    id: 'dynamic',
                    width:250,
                    height:200
                });
                var file = this.files[0];
                var reader = new FileReader();
                // Set preview image into the popover data-content
                reader.onload = function (e) {
                    $(".image-preview-input-title").text("Change");
                    $(".image-preview-clear").show();
                    $(".image-preview-filename").val(file.name);
                    img.attr('src', e.target.result);
                    $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
                }
                reader.readAsDataURL(file);
            });
        });
    </script>
    <script src="{{ asset('bootstrap-tagsinput.min.js') }}"></script>

{% endblock %}