{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">
    <style>
        @font-face {
            font-family: wcsfont;
            src: url('{{ asset('Alwyn Regular.ttf') }}');
        }
        @font-face {
            font-family: wcsfont;
            src: url('{{ asset('Alwyn Bold.ttf') }}');
            font-weight: bold;
        }
        body{
            font-family: "Open Sans", sans-serif;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid smallpaddingtop">
    <div id="menu-overlay"></div>
    <div id="menu-toggle" class="closed" data-title="Menu">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
    </div>
    <div id="content">

            <div class="container ">
                <div class="row">
                    <div class="col-md-12 blue">
                        <img src="{{ asset('avatar/avatar.png') }}" class="avatar-160x">
                        <span class="username">
                       {{ app.user.username }}
                        </span>
                    </div>
                </div>

                <nav id="tabs">
                    <ul>
                        <li class="active" data-target="Détails">Détails</li>
                        <li data-target="Historique">Historique</li>
                        <li data-target="Autre">Autre</li>
                    </ul>
                </nav>
                <div class="tab-target targeted date" id="Détails">
                    Dernière connexion le Mercredi 12 Avril 2017
                </div>

        <!---- DETAILS ----->
        <div class="tab-target targeted" id="Détails">
            <div class="inline badges">
                <label class="control-label badges"> BADGES </label>
            </div>
            <div class="inline">
            <label class="control-label">Avatar</label>

              <div class="file">
                <label for="file-input">Changer d'Avatar</label>
                <input type="file" id="file-input">
              </div>
            </div>
            <br/>
            <div class="inline">
                <label class="control-label" style ="padding-right: 210px;">E-mail</label>
                <input class ="file dashboard-things" type="email" name="email" placeholder=" {{ app.user.email }}" style="margin-top: 0px; height: 35px;">
            </div>
            <br/>
            <div class="inline">
                <label class="control-label" style ="padding-right: 133px;">Mot de Passe</label>
                <input class ="file" type="password" name="password" placeholder="******" style="margin-top: 0px; height: 35px;">

            </div>
            <br/>
            <div class="inline">
                <label class="control-label" style ="padding-right: 171px;">Social</label>
                <ul>
                    <li class="file"> <input class="file dashboard-things" type="text" name="GitHub" placeholder="lien @GitHub"> </li>
                    <li class="file"> <input class="file dashboard-things" type="text" name="Twitter" placeholder="lien @Twitter"> </li>
                    <li class="file"> <input class="file dashboard-things" type="text" name="Facebook" placeholder="lien @Facebook"> </li>
                    <li class="file"> <input class="file dashboard-things" type="text" name="LinkedLn" placeholder="lien @LinkedLn"> </li>

                </ul>

            </div>
            <br/>
            <div class="inline">
                <label class="control-label">Centre d'Interêts</label>
            </div>

            <div class="verticalTXT">
                Ceci est la ligne du futur wow . Les badges sont à gauche de ce texte.

            </div>

        </div>
        <!---- HISTORIQUE ----->

        <div class="tab-target" id="Historique">
            <p>Contenu (Historique) ICI ...</p>
        </div>

        <!---- AUTRE ----->
        <div class="tab-target" id="Autre">
            <p>Contenu (Autre) ICI ...</p>
        </div>

            </div>
    </div>
    </div>
{% endblock %}
{% block js %}
    <script>

        $('#menu-toggle,#menu-overlay').click(function(){
            $('body').toggleClass('open-menu');
        });

        $('#main-nav li a').click(function(){
            $('#main-nav li').removeClass('active');
            $(this).parent().addClass('active')
        });

        $('#tabs li').click(function(){
            var clickTarget = $(this).attr('data-target');
            $('.tab-target').removeClass('targeted');
            $('#'+clickTarget).addClass("targeted");
            $('#tabs li').removeClass('active');
            $(this).addClass('active')
        });

        $('#admin-search input').on('focus',function(){
            $('#header_logo').addClass('hidden');
        });
        $('#admin-search input').on('blur',function(){
            $('#header_logo').removeClass('hidden');
        });
    </script>
{% endblock %}