{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">
    <style>
        @font-face {
            font-family: wcsfont;
            src: url('{{ asset('Alwyn Regular.ttf') }}');
        }
        @font-face {
            font-family: wcsfont;
            src: url('{{ asset('Alwyn Bold.ttf') }}');
            font-weight: bold;
        }
        body{
            font-family: "Open Sans", sans-serif;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid smallpaddingtop">
    <div id="menu-overlay"></div>
    <div id="menu-toggle" class="closed" data-title="Menu">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
    </div>
    <div id="content">

            <div class="container ">
                <div class="row">
                    <div class="col-md-12 blue">
                        <img src="{{ asset('avatar/avatar.png') }}" class="avatar-160x">

                    </div>
                </div>

                <nav id="tabs">
                    <ul>
                        <li class="active" data-target="Détails">Détails</li>
                        <li data-target="Historique">Historique</li>
                        <li data-target="Autre">Autre</li>
                    </ul>
                </nav>


        <!---- DETAILS ----->
        <div class="tab-target targeted" id="Détails">

            <div class="inline">
            <label class="control-label">Avatar</label>

              <div class="file">
                <label for="file-input">Changer d'Avatar</label>
                <input type="file" id="file-input">
              </div>

            </div>

            <div class="inline">
                <label class="control-label">E-mail</label>
            </div>

            <div class="inline">
                <label class="control-label">Mot de Passe</label>
            </div>

            <div class="inline">
                <label class="control-label">Social</label>
            </div>

            <div class="inline">
                <label class="control-label">Pays</label>
            </div>

            <div class="inline">
                <label class="control-label">Date de naissance</label>
            </div>

        </div>
        <!---- HISTORIQUE ----->

        <div class="tab-target" id="Historique">
            <p>Contenu (Historique) ICI ...</p>
        </div>

        <!---- AUTRE ----->
        <div class="tab-target" id="Autre">
            <p>Contenu (Autre) ICI ...</p>
        </div>

            </div>
    </div>
    </div>
{% endblock %}
{% block js %}
    <script>

        $('#menu-toggle,#menu-overlay').click(function(){
            $('body').toggleClass('open-menu');
        });

        $('#main-nav li a').click(function(){
            $('#main-nav li').removeClass('active');
            $(this).parent().addClass('active')
        });

        $('#tabs li').click(function(){
            var clickTarget = $(this).attr('data-target');
            $('.tab-target').removeClass('targeted');
            $('#'+clickTarget).addClass("targeted");
            $('#tabs li').removeClass('active');
            $(this).addClass('active')
        });

        $('#admin-search input').on('focus',function(){
            $('#header_logo').addClass('hidden');
        });
        $('#admin-search input').on('blur',function(){
            $('#header_logo').removeClass('hidden');
        });
    </script>
{% endblock %}