{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

    {% block style %}
        <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">
        <style>
            body {
                background: url('{{ asset('questions.jpg') }}') no-repeat center fixed;
                background-size: cover;
            }
        </style>
    {% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row">

    <div class="container text-center">
        <div class="row">

            <section class="content paddingtop">

                <div class="col-md-12">
                    <div class="panel panel-default panelbg">
                        <h1>Documentations</h1>
                        <div class="span12">
                            <form id="custom-search-form" class="form-search form-horizontal pull-right" action="{{ path('recherchepage' , {'page':1}) }}" method="get">
                                <div class="input-append span12">
                                    <div class="searchdiv">
                                        <input type="text" class="search-query" name="q" placeholder="Rechercher">
                                        <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>

           {% for docsoff in tags.docsoff %}
           <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>

           <div class="media-body">
           <h4 class="title">
           <a href="{{docsoff.url}}">{{docsoff.titre}}</a>
                    </h4>
                     </div>

           {% endfor %}

           <div class="pull-right">
                                <div class="btn-group">
                                    {% if tags %}
                                        <a href="{{ path('ajoutdocspage', {'tag': tags.nom}) }}">
                                            <button type="button" class="btn btn-default btn-filter" data-target="all">Ajouter
                                            une question
                                        </button>
                                    {% endif %}
                                    </a>
                                </div>
                            </div>
           </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(window).scroll(function () {

            if ($(this).scrollTop() == 0) {
                $('.navbar-defaultt').addClass('x-navbar-fixed-top');
            }
            else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
                $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
            }

        });

        if ($(this).scrollTop() == 0) {
            $('.navbar-defaultt').addClass('x-navbar-fixed-top');
        }
        else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
            $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
        }


        function DropDown(el) {
            this.dd = el;
            this.placeholder = this.dd.children('span');
            this.opts = this.dd.find('.dropdown a');
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents : function() {
                var obj = this;

                obj.dd.on('click', function(event){
                    $(this).toggleClass('active');
                });

                obj.opts.on('click',function(){
                    var opt = $(this);
                    obj.val = opt.text();
                    obj.index = opt.index();
                    obj.placeholder.text(obj.val);
                });
            },
            getValue : function() {
                return this.val;
            },
            getIndex : function() {
                return this.index;
            }
        }
        var dd = new DropDown( $('#dd') );
    </script>
    <script>
        function callvote(something, id){
            $.ajax({
                url: '{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('votepage')}}',
                type:'POST',
                data:
                    {
                        question_id: id,
                        vote: something
                    },
                complete: function(msg)
                {
                    console.log(msg.responseText);
                    document.getElementById('vote' + id).innerHTML= msg.responseText;
                    $('#vote' + id).removeClass();
                    $('#vote' + id).addClass('vote');
                    $('#vote' + id).addClass(something);

                }
            });
        }
        $('.btnplus').click(function()
        {
            var id = $(this).data("target");
            callvote('plus', id);
        });
    </script>
{% endblock %}