{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('ajout.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">
    <style>
        body {
            background: url('{{ asset('questions.jpg') }}') no-repeat center fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <section class="content paddingtop">

                <div class="col-md-12">

                    <div class="panel panel-default panelbg">
                        <h1>Réponses</h1>
                        <div class="span12">
                            <form id="custom-search-form" class="form-search form-horizontal pull-right">
                                <div class="input-append span12">
                                    <div class="searchdiv">
                                        <input type="text" class="search-query" placeholder="Rechercher">
                                        <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="chat">
                            <li class="left clearfix"><span class="chat-img pull-left">
                                                 <img src="{{ asset(question.createur.avatarurl) }}"
                                                      class="avatar-32x center-block">
                                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="pull-left primary-font">
                                            <a class="primary-font" href="{{ path('profilpage', {'id':question.createur.id} )}}">
                                                {{ question.createur.nom }} {{ question.createur.prenom }}
                                            </a>
                                        </strong>

                                        <small class="pull-right text-muted">
                                            <div class="dropdown">
                                                <span class="glyphicon glyphicon-time">
                                                </span>
                                                {{ question.date|time_ago_in_words }}
                                                {% if question.createur == app.user %}
                                                <button class="betterpaddingbtn" type="button" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('deletepage', {'id':question.id} )}}">Supprimer la question</a></li>
                                                    {%  if question.status.id == 1 %}
                                                    <li><a href="{{ path('editstatuspage', {'id':question.id} )}}">Marquer comme résolu</a></li>
                                                    {% endif %}
                                                    <li><a href="{{ path('editpage', {'id':question.id} )}}">Editer la question</a></li>
                                                </ul>
                                                {% endif %}
                                            </div>
                                            <div class="ckbox pull-right">
                                                {% set votenb = 0 %}
                                                {% for vote in question.votes %}
                                                    {% if vote.value == true %}
                                                        {% set votenb = votenb + 1 %}
                                                    {% else %}
                                                        {% set votenb = votenb - 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="vote" id="vote{{  question.id }}">{{ votenb }}</div>
                                                <button type="button" class="btn btnplus" data-target="{{ question.id }}" data-type="plus">
                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                </button>

                                            </div>
                                        </small>
                                    </div>
                                    <p class="verysmallpaddingtop">
                                        {{ question.contenu }}
                                    </p>
                                </div>
                            </li>
                            {% if question.solution %}

                                <li class="right clearfix greenbackground"><span class="chat-img pull-right">
                                        <a href="{{ path('profilpage', {'id':question.solution.createur.id} )}}">
                                                        <img src="{{ asset(question.solution.createur.avatarurl) }}"
                                                             class="avatar-32x center-block">
                                        </a>
                                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class="pull-left text-muted">
                                                <div class="dropdown">
                                                    {% if app.user == question.solution.createur or  app.user == question.solution.createur%}
                                                        <button class="betterpaddingbtn" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            {% if app.user == question.solution.createur %}
                                                                <li><a href="{{ path('deletereppage', {'id':question.solution.id} )}}">Supprimer la réponse</a></li>
                                                                <li><a href="{{ path('editreppage', {'id':question.solution.id} )}}">Editer la réponse</a></li>
                                                            {% endif %}
                                                        </ul>
                                                    {% endif %}
                                                    <span class="glyphicon glyphicon-time">
                                                </span>
                                                    {{ question.solution.date|time_ago_in_words }}
                                                </div>
                                                <div class="ckbox">
                                                    {% set votenb = 0 %}
                                                    {% for vote in question.solution.votes %}
                                                        {% if vote.value == true %}
                                                            {% set votenb = votenb + 1 %}
                                                        {% else %}
                                                            {% set votenb = votenb - 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <button type="button" class="btn repbtnplus" data-target="{{ question.solution.id }}" data-type="plus">
                                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="vote" id="vote{{ question.solution.id }}">{{ votenb }}</div>

                                                </div>
                                            </small>



                                            <strong class="pull-right primary-font">
                                                <a class="primary-font" href="{{ path('profilpage', {'id':question.solution.createur.id} )}}">
                                                    {{ question.solution.createur.nom }} {{ question.solution.createur.prenom }}
                                                </a>
                                            </strong>
                                        </div>
                                        <p class="verysmallpaddingtop">
                                            {{ question.solution.contenu }}
                                        </p>
                                    </div>
                                </li>
                            {% endif %}
                            {% for reponse in listereponse %}
                                {% if reponse != question.solution %}
                                    <li class="right clearfix"><span class="chat-img pull-right">
                                        <a href="{{ path('profilpage', {'id':reponse.createur.id} )}}">
                                                        <img src="{{ asset(reponse.createur.avatarurl) }}"
                                                             class="avatar-32x center-block">
                                        </a>
                                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class="pull-left text-muted">
                                                <div class="dropdown">
                                                    {% if app.user == reponse.createur or  app.user == question.createur%}
                                                    <button class="betterpaddingbtn" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        {% if app.user == reponse.createur %}
                                                        <li><a href="{{ path('deletereppage', {'id':reponse.id} )}}">Supprimer la réponse</a></li>
                                                        <li><a href="#">Editer la réponse</a></li>
                                                        {% endif %}
                                                        {% if app.user == question.createur %}
                                                        <li><a href="{{ path('solutionpage', {'questionid': question.id, 'reponseid': reponse.id}) }}">Marquer comme solution</a></li>
                                                        {% endif %}
                                                    </ul>
                                                    {% endif %}
                                                    <span class="glyphicon glyphicon-time">
                                                </span>
                                                    {{ reponse.date|time_ago_in_words }}
                                                </div>
                                                <div class="ckbox">
                                                    {% set votenb = 0 %}
                                                    {% for vote in reponse.votes %}
                                                        {% if vote.value == true %}
                                                            {% set votenb = votenb + 1 %}
                                                        {% else %}
                                                            {% set votenb = votenb - 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <button type="button" class="btn repbtnplus" data-target="{{ reponse.id }}" data-type="plus">
                                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="vote" id="vote{{ reponse.id }}">{{ votenb }}</div>

                                                </div>
                                            </small>



                                            <strong class="pull-right primary-font">
                                                <a class="primary-font" href="{{ path('profilpage', {'id':reponse.createur.id} )}}">
                                                    {{ reponse.createur.nom }} {{ reponse.createur.prenom }}
                                                </a>
                                            </strong>
                                        </div>
                                        <p class="verysmallpaddingtop">
                                            {{ reponse.contenu }}
                                        </p>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        {% if app.user %}
                            {%  if question.status.id == 1 %}
                                {{ form_start(form, { 'attr' : { 'class': 'inputrep' } }) }}

                                    {{  form_errors(form.contenu) }}

                                    {{ form_widget(form.contenu, { 'attr' : { 'class': 'textareainput' } }) }}

                                    <button class="btn btn-info btn-lg verysmallmargin" type="submit">Ajouter</button>

                                {{ form_end(form) }}
                            {% endif %}
                        {% else %}
                            <div class="row">
                                <a class="connexionform center-block" href="{{ path('connectionpage') }}">Se connecter</a>
                                <a class="connexionform center-block" href="{{ path('inscriptionpage') }}">S'inscrire</a>
                            </div>

                        {% endif %}

                        </span>

                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(window).scroll(function () {

            if ($(this).scrollTop() == 0) {
                $('.navbar-defaultt').addClass('x-navbar-fixed-top');
            }
            else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
                $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
            }

        });

        if ($(this).scrollTop() == 0) {
            $('.navbar-defaultt').addClass('x-navbar-fixed-top');
        }
        else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
            $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
        }
    </script>

    <script>
        function callvote(something, id){
            $.ajax({
                url: '{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('votepage')}}',
                type:'POST',
                data:
                    {
                        reponse_id: id,
                        vote: something
                    },
                complete: function(msg)
                {
                    console.log(msg.responseText);
                    document.getElementById('vote' + id).innerHTML= msg.responseText;
                    $('#vote' + id).removeClass();
                    $('#vote' + id).addClass('vote');
                    $('#vote' + id).addClass(something);

                }
            });
        }
        $('.btnplus').click(function()
        {
            var id = $(this).data("target");
            callvote('plus', id);
        });
        function repcallvote(something, id){
            $.ajax({
                url: '{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('votepage')}}',
                type:'POST',
                data:
                    {
                        reponse_id: id,
                        vote: something
                    },
                complete: function(msg)
                {
                    console.log(msg.responseText);
                    document.getElementById('vote' + id).innerHTML= msg.responseText;
                    $('#vote' + id).removeClass();
                    $('#vote' + id).addClass('vote');
                    $('#vote' + id).addClass(something);

                }
            });
        }
        $('.repbtnplus').click(function()
        {
            var id = $(this).data("target");
            callvote('plus', id);
        });
    </script>
{% endblock %}