{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">
    <style>
        body {
            background: url('{{ asset('questions.jpg') }}') no-repeat center fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <section class="content paddingtop">

            <div class="col-md-12">

                <div class="panel panel-default panelbg">
                    <h1>Réponses</h1>
                    <ul class="chat">
                        <li class="left">
                            <span class="chat-img pull-left">
                            <img src="{{ asset(question.createur.avatarurl) }}" class="avatar-32x">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{ question.createur.nom }} {{ question.createur.prenom }}</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>{{ question.date|time_ago_in_words }}</small>
                                </div>
                                <p>
                                    {{ question.contenu }}
                                </p>
                            </div>
                        </li>
                        {% for reponse in listereponse %}
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="{{ asset(reponse.createur.avatarurl) }}" class="avatar-32x">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ reponse.date|time_ago_in_words }}</small>
                                    <strong class="pull-right primary-font">{{ reponse.createur.nom }} {{ reponse.createur.prenom }}</strong>
                                </div>
                                <p>
                                    {{ reponse.contenu }}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    {% if app.user %} {{ form_start(form, { 'attr' : { 'class': 'inputrep' } }) }} {{ form_errors(form.contenu) }} {{ form_widget(form.contenu, { 'attr' : { 'class': 'textareainput' } }) }}
                    <button class="btn btn-info btn-lg" type="submit">Ajouter</button>
                    {{ form_end(form) }} {% else %}
                    <div class="row">
                        <a class="connexionform center-block" href="{{ path('connectionpage') }}">Se connecter</a>
                        <a class="connexionform center-block" href="{{ path('inscriptionpage') }}">S'inscrire</a>
                    </div>





                    {% endif %}

                  </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}

{% block js %}
    <script>
        $(window).scroll(function () {

            if ($(this).scrollTop() == 0) {
                $('.navbar-defaultt').addClass('x-navbar-fixed-top');
            }
            else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
                $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
            }

        });

        if ($(this).scrollTop() == 0) {
            $('.navbar-defaultt').addClass('x-navbar-fixed-top');
        }
        else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
            $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
        }
    </script>
{% endblock %}