<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fontawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/bantikyan/icheck-bootstrap/9bd0c21a/icheck-bootstrap.min.css" />

    <link href="{{ asset('style.css') }}" rel="stylesheet" type="text/css" media="screen">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/dialog.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dialog-jim.css') }}" />
    <script src="{{ asset('js/snap.svg-min.js') }}"></script>
    <script src="{{ asset('js/modernizr.custom.js') }}"></script>

    <title>Wild Exchange - {% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Wild exchange</a>
            <img src= "{{ asset('logoBlue.png') }}" >
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="accueil"><a href="#">Accueil</a></li>
                <li><a href="#">Explorer</a></li>
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" daxta-toggle="dropdown" role="button" aria-expanded="false">Utilisateur<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Hello!</a></li>
                            <li><a href="#">Mon profil</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Se déconnecter</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="connexion">Se connecter</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
























<script src="{{ asset('js/classie.js') }}"></script>
<script src="{{ asset('js/dialogFx.js') }}"></script>
{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}

        <div class="container">
            <div class="content">
                <header class="codrops-header">
                    <div class="button-wrap"><button data-dialog="somedialog" class="trigger" id="flash-{{ type }}" style="display:none;">Open Dialog</button></div>
                </header>
                <div id="somedialog" class="dialog">
                    <div class="dialog__overlay"></div>
                    <div class="dialog__content">
                        <div class="morph-shape" data-morph-open="M199.5,100c0,54.955-44.768,99.5-100,99.5s-100-44.545-100-99.5c0-54.956,44.769-99.5,100-99.5
	S199.5,45.044,199.5,100z">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 200 200" preserveAspectRatio="xMidYMid meet">
                                <path d="M199.5,100c0,0.552-44.768,1-100,1s-100-0.448-100-1s44.769-1,100-1S199.5,99.448,199.5,100z"></path>
                            </svg>
                        </div>
                        <div class="dialog-inner">
                            <h2>{{ flash_message }}</h2><div><button class="action" data-dialog-close>Fermer</button></div>
                        </div>
                    </div>
                </div>
            </div><!-- /content -->
        </div><!-- /container -->

        <script>
            (function() {

                var dlgtrigger = document.querySelector( '[data-dialog]' ),

                    somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
                    // svg..
                    morphEl = somedialog.querySelector( '.morph-shape' ),
                    s = Snap( morphEl.querySelector( 'svg' ) ),
                    path = s.select( 'path' ),
                    initialPath = path.attr('d'),
                    steps = {
                        open : morphEl.getAttribute( 'data-morph-open' )
                    },
                    dlg = new DialogFx( somedialog, {
                        onOpenDialog : function( instance ) {
                            // reset path
                            morphEl.querySelector( 'svg > path' ).setAttribute( 'd', initialPath );
                            // animate path
                            path.stop().animate( { 'path' : steps.open }, 300, mina.easein );
                        }
                    } );

                dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );
                document.getElementById('flash-{{ type }}').click();
            })();
        </script>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</body>
<footer>

    <div class="copyright">
        <div class="container">
            <p>Suivez-nous sur vos reseaux favoris</p>
            <p><i class="fa fa-github fa-3x" aria-hidden="true"></i> <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i> <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i><i class="fa fa-youtube fa-3x" aria-hidden="true"></i><i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7"><u>La Wild Code School</u></h6>
                <ul class="footer-ul">
                    <li><a href="#"> Le concept</a></li>
                    <li><a href="#"> Notre programme</a></li>
                    <li><a href="#"> Comment candidater</a></li>
                    <li><a href="#"> FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7"><u>Nos écoles</u></h6>
                <ul class="footer-ul">
                    <li><a href="#"> La Loupe</a></li>
                    <li><a href="#"> Fontainebleau</a></li>
                    <li><a href="#"> Orléans</a></li>
                    <li><a href="#"> Bordeaux</a></li>
                    <li><a href="#"> Lyon</a></li>
                    <li><a href="#"> Toulouse</a></li>
                    <li><a href="#"> Paris</a></li>
                    <li><a href="#"> Lille</a></li>
                    <li><a href="#"> Starsbourg</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7"><u>Plan du site</u></h6>
                <ul class="footer-ul">
                    <li><a href="#"> Accueil</a></li>
                    <li><a href="#"> Dashboard</a></li>
                    <li><a href="#"> Profil</a></li>
                    <li><a href="#"> Inscription</a></li>
                    <li><a href="#"> Se connecter</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7"><u>Notre blog</u></h6>
                <ul class="footer-ul">
                    <li><a href="#"> La Loupe</a></li>
                    <li><a href="#"> Fontainebleau</a></li>
                    <li><a href="#"> Orléans</a></li>
                    <li><a href="#"> Bordeaux</a></li>
                    <li><a href="#"> Lyon</a></li>
                    <li><a href="#"> Toulouse</a></li>
                    <li><a href="#"> Paris</a></li>
                    <li><a href="#"> Lille</a></li>
                    <li><a href="#"> Starsbourg</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7"><u>A propos</u></h6>
                <ul class="footer-ul">
                    <li><a href="#"> Nous contacter</a></li>
                    <li><a href="#"> Notre programme</a></li>
                    <li><a href="#"> Offres d'emploi</a></li>
                    <li><a href="#"> Recruter un développeur</a></li>
                    <li><a href="#"> Développer un projet</a></li>
                    <li><a href="#"> Nous soutenir</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <img src="{{ asset('lightLogo-1.png') }}">
            </div>
        </div>
    </div>
    <div class="ligne_footer"></div>

    <div class="copyright">
        <div class="container">
            <p>Made with love by Wild Code School</p>
        </div>
    </div>

</footer>
</html>
