{% extends 'baseadmin.html.twig' %}

{% block body %}

    <div class="container-2">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="page-title">
                        <h2><i class="active"><i class="fa fa-user"></i> Modification <br>
                                <small>Utilisateur</small>
                        </h2>
                        <ol class="breadcrumb">
                            {{ user.pseudo }}
                        </ol>
                    </div>

                    <form method="POST">
                        <div class="form-group">
                            <label>Pseudo</label>
                            <input type="text" name="pseudo" class="form-control" value="{{ user.pseudo }}">
                        </div>
                        <div class="form-group">
                            <label for="email">Adresse Email</label>
                            <input type="email" name="email" class="form-control" id="email" value="{{ user.email }}">
                        </div>

                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" name="nom" class="form-control" value="{{ user.nom }}">
                        </div>
                        <div class="form-group">
                            <label>Prenom</label>
                            <input type="text" name="prenom" class="form-control" value="{{ user.prenom }}">
                        </div>
                        <div class="form-group">
                            <label>Centre d'intéret</label>
                            <input type="text" name="centre" class="form-control" value="{{ user.interet }}">
                        </div>
                        <div class="form-group">
                            <label>GitHub</label>
                            <input type="text" name="github" class="form-control" value="{{ user.github }}">
                        </div>
                        <div class="form-group">
                            <label>Facebook</label>
                            <input type="text" name="facebook" class="form-control" value="{{ user.facebook }}">
                        </div>
                        <div class="form-group">
                            <label>Twitter</label>
                            <input type="text" name="twitter" class="form-control" value="{{ user.twitter }}">
                        </div>
                        <div class="form-group">
                            <label>Linkedin</label>
                            <input type="text" name="linkedin" class="form-control" value="{{ user.linkedin }}">
                        </div>
                        <div class="form-group">
                            <label>Avatar URL</label>
                            <input type="text" name="avatar" class="form-control" value="{{ user.avatarurl }}">
                        </div>

                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}